<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="{{ url_for("index") }}">Site name(in progress)</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    {% if logged %}
                        <a class="nav-link" href="{{ url_for("all_posts") }}"> My Posts </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if logged %}
                        <a class="nav-link" href="{{ url_for("add_post") }}"> Add Post </a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for("log_in") }}"> Login </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if logged %}
                        <a class="nav-link" href="{{ url_for("log_out") }}">LogOut</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for("sign_up") }}">Signup</a>
                    {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <h1> ___ </h1>
    </div> <br> <br>

    {% block header %}
    {% endblock %}

    <ul>
        {% for m in menu %}
        <li>{{ m }}</li>
        {% endfor %}
    </ul>

    {% for m in menu_url %}
        <a href="{{ url_for(m.url) }}">{{ m.title }}</a>
    {% endfor %}

    {% if logged %}
        <a href="{{ url_for('profile', username='Defort')}}">User Defort</a>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>