{% extends 'base.html' %}

{% block title %}
    All Posts
{% endblock %}

{% block header %}
    <h1> All Posts </h1>
{% endblock %}

{% block content %}

    {% for p in posts %}
        <a class="post-link" href="{{ url_for('post_content', post_id=p.id)}}">
            <div class="post">
                <h3>{{ p.title }}</h3>
                <p>{{ p.description[:30] | striptags }}</p>
            </div>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
