{% extends 'base.html' %}

{% block title %}
    LogIn
{% endblock %}

{% block header %}
    <h1>LogIn page</h1>
{% endblock %}

{% block content %}
    <hr>
    {% for category, message in get_flashed_messages(True) %}
        <p class="{{category}}">{{ message }}</p>
    {% endfor %}

    <form action="{{ url_for('log_in')}}" method="post">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" value="Log in">
    </form>

    <p> Don't have an account? <a href="{{ url_for("sign_up") }}">SignUp</a></p>

{% endblock %}