{% extends 'base.html' %}


{% block title %}
    SignUp
{% endblock %}

{% block header %}
    <h1> SignUp page </h1>
{% endblock %}

{% block content %}
    <hr>
    {% for category, message in get_flashed_messages(True) %}
        <p class="{{ category }}">{{ message }}</p>
    {% endfor %}

    <form action="{{ url_for('sign_up')}}" method="post">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="password2" placeholder="repeat">

        <input type="submit" value="Sign Up">
    </form>

    <p> Already have an account? <a href="{{ url_for("log_in") }}">LogIn</a></p>
{% endblock %}